:root {
  --base: #ffc600;
  --spacing: 0px;
  --blur: 0px;
}

html {
  background-size: cover;
  height: 100vh;
  position: relative;
}

.content {
  background-color: var(--base);
  padding: var(--spacing);
  filter: blur(var(--blur));
}

.fieldset {
  border: 0;
  margin: 0;
  padding: 0;
  text-align: center;
}

legend {
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 700;
  font-family: sans-serif;
}

.field {
  margin-bottom: 15px;
  font-size: 20px;
  font-family: sans-serif;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}